language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"

install:
  - pip install -e .[test]
  - npm install

script:
  - nosetests --with-coverage --cover-html --cover-package=pwm_server --cover-branches
  - ./node_modules/.bin/gulp

after_success:
  # Only deploy once
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then ./travis/deploy_coverage.sh --verbose; fi

env:
  global:

    # GitHub access token that grants access to thusoys GitHub account
    - secure: "p3ezppkYjJJEpM7QyXEP2KXeTTQvmj0zECwKHdswaUFgR9Kj74iujWEZzRlBqZBklaWTSun1hAYfX17bikuc1LJIZ/uaMPKcbf/ZLiC69YEwlBkEESk8JCp9KY+L8BuGEpJ8LgGVonmr6NKYzq+3CcLNOONFCY8p+vw5IHDcUac="


notifications:
  email: false
