language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"

install:
  # Python unit tests deps:
  - pip install -e .[test]

  # Integration test deps:
  - curl -L http://bootstrap.saltstack.org | sudo sh -s --
  - sudo cp salt/minion /etc/salt/minion
  - sudo cp -r salt /srv/
  - sudo salt-call state.highstate
  - sudo sh -c "echo "127.0.0.1 pwm.local" >> /etc/hosts"

script:
  - nosetests pwm_server --with-coverage --cover-html --cover-package=pwm_server --cover-branches
  - PWM_SERVER_TEST_URI=https://pwm.local:443 nosetests integration_tests

after_success:
  # Only deploy once
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then ./travis/deploy_coverage.sh --verbose; fi

env:
  global:

    # GitHub access token that grants access to thusoys GitHub account
    - secure: "p3ezppkYjJJEpM7QyXEP2KXeTTQvmj0zECwKHdswaUFgR9Kj74iujWEZzRlBqZBklaWTSun1hAYfX17bikuc1LJIZ/uaMPKcbf/ZLiC69YEwlBkEESk8JCp9KY+L8BuGEpJ8LgGVonmr6NKYzq+3CcLNOONFCY8p+vw5IHDcUac="


notifications:
  email: false
